*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065fc;
    --secondary-color: #f2f2f2;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

/* CSS header */
header {
    height: 80px;

    display: flex;
    max-width: 1340px;
    margin: 0 auto;
    position: relative;
    border: 1px solid pink;
}

.logo {
    margin-top: 42px;
}

.navbar {
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    color: var(--main-color);
}

.navbar a:hover {
    background-color: #7699ce;
}

.navbar {
    list-style-type: none;
    display: grid;
    grid-template-columns:1fr 162px 148px 126px;
    grid-template-rows: 3px 77px;
    align-items: flex-end;
    height: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-accom {
    grid-row: 2/2;
    grid-column: 2/3;
}

.link-activ {
    grid-row: 2/2;
    grid-column: 3/4;
}

.link-sign {
    grid-row: 2/2;
    grid-column: 4/5;
}

.link-activ a {
    color: #000;
    grid-row: 2/2 ;
    grid-column: 3/4;
}

.line {
    height: 3px;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #0065fc;
}

main {
    max-width: 1340px;
    border: 1px solid pink;
    margin: 50px auto 0;
}

/* CSS Search */

#search {
    max-width: 1340px;
    border: 1px solid pink;
}

#search h1 {
    font-size: 1.4rem;
    padding-bottom: 10px;
}

.filters p {
    white-space: nowrap;
}

.input-container {
    display: flex;
    margin-top: 23.5px;
}

.input-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    font-size: 1.2rem;
    border-radius: 20px 0 0 20px;
    background-color: var(--secondary-color);
}

.search-bar {
    width: 235px;
    height: 50px;

    border: 1px solid var(--secondary-color);
}

.search-bar::placeholder {
    color: #000;
    font-size: 1.5em;
    padding-left: 10px;
    font-weight: 600;
}

.btn-search {
    width: 134px;
    height: 50px;
    border: none;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 1rem;
    border-radius: 0 20px 20px 0;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-search:hover, .btn-search:hover{
    transition: 0.1s ease-in;
    background-color: #004ec2;
}

.mobile-search.fas {
    display: none;
}

.filter-container {
    margin-top: 32px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container h2 {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 10px;
}

.filters {
    display: flex;
    
    align-items: center;
    margin-left: 27px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    margin-bottom: 13px;
    font-size: 0.9rem;
}

.filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    color: var(--main-color);
    margin:-2px;
    border-radius: 50%;
    background-color: #deebff;
    border: 2px solid #deebff;
}
 
.filters p {
    padding: 12px 15px 12px 12px;
    font-size: 1.2rem;
    font-weight: 700;
}

.information {
    display: flex;
    align-items: center;
    margin-top: 34px;
    padding-left: 10px;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 0.9rem;
    color: var(--main-color);
    border: 0.5px solid var(--secondary-color);
}

.information p {
    padding-left: 10px;
}

/* Section hébergement */

.accommodation-container {
    width: 100%;
    height: 628px;
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

/* Partie 1 Hébergement */

#accommodation {
    width: 65.5%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
}

.positioning-acco {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.title-acco {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 40px;
    height: 90px;
}

.showmore {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 40px;
    height: 107px;
}

#accommodation a {
    text-decoration:none;
    color: #000;
}

.card-acco {
    display: flex;
    flex-direction: column;
    width: 246px;
    min-width: 246px;
    height: 200px;
    border-radius: 20px;
    background-color: cyan;
    padding: 6px;
    box-shadow: 0px 0px 6px 0px rgb(32, 32, 32);
}

.container-img-acco {
    align-self: center;
    width: 100%;
    height: 120px;
}

.container-img-acco img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-acco h3 {
    font-size: 1rem;
    width: 100%;
    margin-top: 8px;
    margin-left: 10px;
}

.card-acco p {
    font-size: 0.9rem;
    width: 100%;
    margin-top: 3px;
    margin-left: 10px;
}

.price {
    margin-top: 8px;
    font-weight: 700;
}

.container-stars {
    width: 32%;
    height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 0.8rem;
}

.full {
    color: var(--main-color);
}

.empty {
    color: var(--secondary-color);
}

/* Partie Plus populaires */

#mostpopular {
    width: 31.5%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
}

.positioning-pop {
    max-width: 510px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.title-pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 40px;
    height: 90px;
}

.title-pop i {
    font-size: 1.5rem;
}

.card-pop {
    display: flex;
    flex-wrap: wrap;
    min-width: 344px;
    height: 144px;
    border-radius: 20px;
    background-color: pink;
    padding: 6px;
    box-shadow: 0px 0px 6px 0px rgb(32, 32, 32);
}
.container-img-pop {
    width: 127px;
    height: 100%;
}

.container-img-pop img {
    border-radius: 16px 0 0 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-side  {
    margin-left: 20px;
    width: 165px;
}

.card-pop h3 {
    font-size: 1rem;
    width: 100%;
    margin-top: 13px;
}

.card-pop p {
    font-size: 0.9rem;
    margin-top: 8px;
}

#mostpopular .container-stars {
    margin: 38.5px 0 0 0;
}



  