*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065fc;
    --secondary-color: #f2f2f2;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

/* CSS header */

header {
    width: 100%;
    min-width: 320px;
    height: 129px;

    display: flex;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid pink; */
}

.logo {
    margin-top: 0px;
    position: absolute;
    top: 25px;
    left: 30px;
}

.navbar {
    width: 100%;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 86px 42px 3px;
    height: 131px;
    text-align: center;
    align-items: center;
    padding-bottom: 0;
    list-style-type: none;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    color: var(--main-color);
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-accom {
    grid-row: 2/3;
    grid-column: 1/2;
}

.link-activ {
    grid-row: 2/3;
    grid-column: 2/3;
}

.link-activ a {
    color: initial;
    grid-row: 2/2 ;
    grid-column: 3/4;
}
.link-sign {
    grid-row: 1/2;
    grid-column: 2/3;
}

.link-sign a {
    font-weight: 800;
    padding-left: 50px;
    padding-top: 15px;
}

.line {
    height: 3px;
    grid-row: 3/3;
    grid-column: 1/2;
    background-color: #0065fc;
}

.grey {
    grid-row: 3/4;
    grid-column: 2/2;
    height: 3px;
    background-color: var(--secondary-color);
}

main {
    max-width: 1340px;
    margin: 50px auto 0;
}

/* CSS Search */

#search {
    width: 100%;
    padding: 0 20px;
}

#search h1 {
    font-size: 1.4rem;
    padding-bottom: 10px;
}

.input-container {
    display: flex;
    margin-top: 23.5px;
}

.input-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 51px;
    font-size: 1.2rem;
    border-radius: 20px 0 0 20px;
    background-color: var(--secondary-color);
}

.search-bar {
    border: 1px solid var(--secondary-color);
}

input.search-bar {
    width: 100%;
    color: initial;
    font-size: 1.2rem;
    padding-left: 10px;
    font-weight: 600;
}

.btn-search {
    margin-left: -15px;
    min-width: 51px;
    height: 51px;
    border: none;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 1rem;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.desktop-search {
    display: none;
}

.btn-search:hover {
    transition: 0.1s ease-in;
    background-color: #004ec2;
}

.mobile-search.fas {
    display: inline-block;
    width: 51px;
}

.filter-container {
    margin-top: 32px;
    width: 50%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container h2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 10px;
}

.filters {
    display: flex;
    
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    margin-left: 10px;
    margin-bottom: 13px;
}

.filters:last-child {
    margin-bottom: 0;
}

.filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    color: var(--main-color);
    margin:-2px;
    border-radius: 50%;
    background-color: #deebff;
    border: 2px solid transparent;
}

.filters p {
    font-size: 1rem;
    white-space: nowrap;
    padding: 12px 15px 12px 12px;
    font-size: 1.2rem;
    font-weight: 700;
}

.information {
    display: flex;
    align-items: center;
    margin-top: 34px;
}

.info-icon {
    border-radius: 50%;
    font-size: 0.9rem;
    color: var(--main-color);
    border: 0.5px solid var(--secondary-color);
}

.information i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.information p {
    padding-left: 10px;
}

/* Section Hébergement */
.accommodation-container {
    width: 100%;
    min-width: 320px;
    margin-top: 37px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border: 1px solid blue;
}

#accommodation {
    width: 100%;
    border-radius: 0px;
    background: #ffffff;
}

.positioning-acco {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px;
}

/* Gestion des titres h2 */
.tadjust {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 80px;
}

.title-acco h2, .title-pop h2, .title-acti h2 {
    font-size: 1.4rem;
}

/* Gestion des a sur les items*/
#accommodation a, #mostpopular a, #activity a {
    text-decoration:none;
    width: 100%;
    color: initial;
}

.card-acco {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
}

#accommodation .container-stars {
    margin-top: 5px;
    margin-left: 10px;
}

.container-img-acco {
    align-self: center;
    width: 100%;
    height: 120px;
}

.container-img-acco img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* les titres des photos h3 */
.card-acco h3, .card-pop h3 {
    font-size: 1rem;
}

.card-acco h3 {
    margin-top: 8px;
    margin-left: 10px;
}

.card-acco p {
    font-size: 0.9rem;
    width: 100%;
    margin-top: 3px;
    margin-left: 10px;
}

.price {
    margin-top: 8px;
    font-weight: 700;
}

.container-stars {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 25px;
    font-size: 0.8rem;
}

.full {
    color: var(--main-color);
}

.empty {
    color: var(--secondary-color);
}

.showmore {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 40px;
    height: 80px;
}

/* Section Plus populaires */

/* Conteneur section droite (Plus populaires) */
#mostpopular {
    width: 100%;
    border-radius: 0px;
    background-color: var(--secondary-color);
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 37px;
}

.positioning-pop {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px;
}

.title-pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
}

.title-pop i {
    font-size: 1.5rem;
}

.card-pop {
    display: flex;
    width: 100%;
    height: 144px;
    border-radius: 20px;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
}

.container-img-pop {
    width: 100%;
    height: 100%;
}

.container-img-pop img {
    border-radius: 16px 0 0 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-side  {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    margin-left: 20px;
    max-width: 165px;
}

a:nth-child(2) .container-stars {
    margin-top: 5px;
}

.card-pop h3 {
    margin-top: 13px;
}

.card-pop p {
    font-size: 0.9rem;
    margin-top: 8px;
}

/* Activités */

#activity {
    width: 100%;
}

/* Conteneur des photos activités */
.container-acti {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    padding:0 20px;
    margin-bottom: 60px;
}

.container-acti a {
    width: 100%;
}

.card-acti {
    width:100%;
    height: 190px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-acti h3, .card-acti-small h3, .card-acti-long h3 {
    margin: 15px 0 0 18px;
    font-size: 1rem;
}

.card-acti img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 134px;
    object-fit: cover;
}

.two-cards-acti {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 21.5px;
}

/* .above {
    flex-direction: column-reverse;
} */

.card-acti-long {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 190px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-acti-long img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 134px;
    object-fit: cover;
}

.card-acti-small {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 190px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-acti-small img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 134px;
    object-fit: cover;
}

/* Footer */

footer {
    width: 100%;
    background: var(--secondary-color);
    margin: 0 auto;
}

.position-footer {
    max-width: 1020px;
    /* vertical | horizontal */
    padding: 29px 48px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.position-footer h3 {
    margin: 25px 0;
}

.position-footer ul {
    list-style-type: none;
}

.position-footer a {
    text-decoration: none;
    font-size: 1rem;
    color: initial;
    line-height: 30px;
}