
@media screen and (max-device-width: 375px) {
    /*_________________ Header _________________*/
    header {
        height: 129px;
        width: 375px;
    }
    .navbar {
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: 86px 42px 3px;
        height: 131px;
        text-align: center;
        align-items: center;
        padding-bottom: 0;
    }

    .logo {
        margin-top: 0px;
        position: absolute;
        top: 25px;
        left: 30px;
    }

    .link-accom {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .link-activ {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    .link-sign {
        text-align: end;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .link-sign a {
        font-weight: 800;
        padding-left: 50px;
        padding-top: 15px;
    }

    .line {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .grey {
        grid-row: 3/4;
        grid-column: 2/2;
        height: 3px;
        background-color: var(--secondary-color);
    }

    /*_________________ search _________________*/

    #search {
        width: 375px;
        padding: 0 20px;
    }

    .search-bar::placeholder {
        font-size: 1.3rem;
    }

    .filter-container {
        justify-content: space-between;
    }

    .filter-container h2 {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .btn-search {
        display: none;
    }

    .mobile-search.fas {
        display: inline-block;
        width: 51px;
    }

    .filters {
        margin-left: 0;
    }

    .filters p {
        font-size: 1rem;
    }

    .filters:last-child {
        margin-bottom: 0;
    }

    .information {
        padding-left: 0;
    }
    
    /*_________________ hébergement à _________________*/

    .accommodation-container {
        height: 100%;
        flex-direction: column;
    }

    #accommodation {
        width: 100%;
        border-radius: 0px;
        background: #ffffff;
        order: 1;
    }

    .positioning-acco {
        width: 100%;
        padding: 0 20px;
    }

    .card-acco {
        width: 100%;
    }

    #mostpopular {
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .title-acco, .title-pop {
        font-size: 1.4rem;
        padding: 0 20px;
    }

    .title-acco h2, .title-pop h2 {
        font-size: 1.4rem;
    }

    .card-pop:last-child {
        margin-bottom: 37px;
    }
    
}