/*=============== Tablette 425px - 767px /*==============*/

@media screen and (min-width: 425px)
and (max-width: 767px)  {

    input.search-bar {
        width: 265px;
    }

    .positioning-pop {
        padding: 0 50px;
    }

    .positioning-acco {
        padding: 0 50px;
    }

    .container-acti {
        padding: 0 50px;
    }

    .tadjust {
        padding: 0 50px
    }

}

/*=============== Header à partir de 768px /*==============*/

@media only screen and (min-width : 768px) {

    header {
        max-width: 1440px;
        padding: 0 20px;
        height: 80px;

        display: flex;
        margin: 0 auto;
        position: relative;
    }

    .logo {
        position: static;
        margin-top: 40px;
    }

    .navbar {
        font-size: 1.1rem;
        height: 100%;
        display: grid;
        grid-template-columns:1fr 162px 149px 125px;
        grid-template-rows: 3px 77px;
        align-items: flex-end;
    }

    .navbar a {
        color:initial;
        text-decoration: none;
        color: var(--main-color);
    }
    
    .list-item {
        display: flex;
        justify-content: center;
    }

    .list-item-accom {
        grid-row: 2/2;
        grid-column: 2/3;
    }

    .list-item-activ {
        grid-row: 2/2;
        grid-column: 3/4;
    }

    .list-item-activ a {
        color: #000;
        grid-row: 2/2 ;
        grid-column: 3/4;
    }
    .list-item-sign {
        grid-row: 2/2;
        grid-column: 4/5;
    }

    .list-item-sign a {
        padding: 0;
    }

    .line {
        height: 3px;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .grey {
        display: none;
    }
}

/* =============== Comportement du main pour Laptop 768px - 1439px ============== */

@media screen
  and (min-width: 768px) 
  and (max-width: 1439px) {
    
    .list-item:last-child:hover {
        background: rgba(0, 101, 252, 0.1) ;
        border-bottom: 1px solid var(--main-color);
    }

    #search {
        width: 100%;
        padding: 0 20px;
    }

    input.search-bar {
        width: 235px;
    }

    .mobile-search.fas {
        display: none;
    }

    .desktop-search {
        display: block;
        border-radius: 0 20px 20px 0;
        width: 133px;
    }

    .information {
        margin-top: 20px;
    }

    .filter-container {
        width: 100%;
        justify-content: flex-start;
    }

    .filter-container h2 {
        width: 100%;
        margin-bottom: 15px;
    }

    .filters:last-child {
        margin-bottom: 15px;
    }
    
    /* Gestion des titres h2 */
    .tadjust {
        padding: 0 45px;
        height: 90px;
    }
    
    .title-acco {
        padding: 0 45px;
    }
    
    /* Hébergement */
    
    .accommodation-container {
        width: 100%;
        padding: 0 20px;
        flex-wrap: wrap;
    }

    #accommodation a {
        width: 30%;
    }

    .positioning-acco {
        padding: 0 30px;
        justify-content: space-between;
    }

    .card-acco {
        width: 100%;
        height: 210px;
        justify-content: space-between;
    }

    .card-acco h3 {
        margin-top: 4px;
    }

    .showmore {
        width: 100%;
        justify-content: center;
    }
    
    /* Les Plus populaires */

    #mostpopular {
        flex: 1 1 100%;
        padding-bottom: 0;
        border-radius: 20px;
    }
    
    .positioning-pop {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 30px 30px;
    }

    #mostpopular a {
        width: 30%;
    }
    
    .container-img-pop {
        height: 100px;
    }
    
    .container-img-pop img {
        width: 100%;
        border-radius: 16px 16px 0 0;
    }
    
    .text-side {
        width: 100%;
        max-width: 100%;
        height: 90px;
        margin-left: 0;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .card-pop {
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .card-pop h3 {
        margin-top: 8px;
    }
    
    .card-pop p {
        width: 100%;
        margin-top: 3px;
    }
    
    #mostpopular .container-stars {
        margin: 3px 0;
        align-self: flex-end;
    }
    
    /* Activité */

    .container-acti {
        justify-content: space-between;
        padding: 0 45px;
    }

    .card-acti {
        width: 48%;
        height: 445px;
    }

    .two-cards-acti {
        width: 48%;
        justify-content: space-between;
    }

    .card-acti-long {
        height: 234px;
    }

    .card-acti-long img {
        height: 176px;
    }

    .card-acti img {
        height: 388px;
    }
    
    .switch {
        order: -1;
    }

    /* Footer */
    
    footer {
        display: flex;
        
    }
    
    .position-footer {
        width: 90%;
    }
}


/*=============== Desktop à partir de 1440px /*==============*/

@media only screen and (min-width : 1440px){

    header {
        padding: 0 50px;

    }
    /* CSS Search */

    main {
        max-width: 1440px;
        padding: 0 50px;
    }

    #search {
        padding: 0;
    }

    input.search-bar {
        width: 235px;
    }

    .btn-search {
        width: 133px;
        border-radius: 0 20px 20px 0px;
    }

    .desktop-search {
        display: block;
    }

    .mobile-search.fas {
        display: none;
    }

    .filter-container {
        width: 100%;
        justify-content: flex-start;
    }

    .filter-container h2 {
        display: inline-block;
        width: 86px;
        margin-bottom: 0;
    }

    .filters {
        margin-left: 27px;
        margin-bottom: 0px;
        font-size: 0.9rem;
    }

    .information {
        padding-left: 5px;
    }
    
    /* Conteneur global */

    .accommodation-container {
        min-height: 628px;
        flex-direction: row;
    }
    
    /* Conteneur gauche > Section Hébergement */

    #accommodation {
        /* Trois valeurs : flex-grow | flex-shrink | flex-basis */
        flex: 0 1 65.6%;
        height: auto;
        border-radius: 20px;
        background-color: var(--secondary-color);
    }

    .positioning-acco {
        max-width: 800px;
        padding: 0;
    }

    /* Gestion des titres h2 */
    .tadjust {
        height: 90px;
        padding: 0 40px;
    }

    /* Gestion des a sur les items*/
    #accommodation a {
        width:  246px;
    }

    .full {
        color: var(--main-color);
    }

    .empty {
        color: var(--secondary-color);
    }

    .showmore {
        height: 107px;
    }

    /* Section Plus populaires */

    #mostpopular {
        flex: 0 1 32%;
        border-radius: 20px;
    }

    .title-pop {
        padding: 0 40px;
        height: 90px;
    }

    .container-img-pop img {
        border-radius: 16px 0 0 16px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Activités */

    #activity {
        max-width: 1340px;
    }
    
    .container-acti {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0;
    }

    .card-acti {
        width: 302px;
        height: 445px;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .card-acti img {
        width: 100%;
        height: 389px;
        object-fit: cover;
    }

    .two-cards-acti {
        width: 302px;
        justify-content: space-between;
    }

    .card-acti-long {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 235px;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .card-acti-long img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .card-acti-small {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 165px;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .card-acti-small img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 109px;
        object-fit: cover;
    }

    /* Footer */

    footer {
        max-width: 1440px;
    }

    .position-footer {
        max-width: 1130px;
        padding: 50px;
    }
}